.jumbotron {
	background: url(../images/jumbotron.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-size: cover;
	z-index: -1;
	margin-bottom: 0;

  h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 70px;
    color: #ffffff;
  }

  h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 26px;
  }

  p {
    color: #e6e9eb;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-style: italic;
    line-height: 1.4em;
  }
  .btn {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #00a8ff;
    border: 1px solid #52c4ff;
    letter-spacing: 2px;
    font-size: 26px;
    padding: 15px 48px;
  }
}

@media (max-width: 768px) {
  .jumbotron {



    h1 {
      font-size: 30px;

    }

    h3 {
      font-size: 20px;

    }

    p {
      font-size: 15px;
      line-height: 2em;
    }

    btn {
      font-size: 13px;

    }
  }
}

