section {

  .features-two {

    background: url(../images/service1.png) no-repeat center;
    background-size: cover;

    z-index: -1;
    margin-bottom: 0;
    margin-top: 30px;


    h2 {
      font-family: 'Roboto Slab', serif;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 32px;
      color: #2c3e50;
    }

    p {
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      font-size: 18px;
      color: #8c98a5;
    }

    ul li {
      font-family: 'Roboto Slab', serif;
      font-weight: 400;
      color: #2c3e50;
      font-size: 16px;
      i {
        margin-right: 5px;
      }
    }
  }
}


@media (max-width: 767px) {
  section .features-two {
    background: none;
    background-color: #e2f4fa;
  }


}

@media (min-width: 1300px) {
  section .features-two {
    background: url(../images/service1.png) no-repeat center;
    background-size: cover;
    min-height: 600px;
  }
}


@media (min-width: 991px) {
  section .features-two {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  section .features-two {
    background-position: 0px center;
  }

  section .features-two ul li {
    color: #EDDADA;
    text-shadow: 1px 1px #2c3e50;
  }
}

section .invitation {
  padding-top: 50px;
  background-color: #0fa8e5;
  p {
    color: #ffffff;
    font-size: 22px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    span {
      color: #eeea02;
    }
  }
}