

/*!
 *
 * Section: Pricing Tables
 *
 */


@media (min-width: 970px) {
	.seven_bottom {
		width: 100%;
		margin-left: 10%;
	}

}

section.pricing-wrap {

	.container {
		.pricing-column {
			padding-right: 0;
			padding-left: 0;
			margin: 0 -1px 0 0;
		}
		.divider-border {
			margin: 35px 0px 35px 0px;
			border-bottom: 1px solid #ddd;
		}

		h1 {


		}
		p {
			color: #888;
			font-size: 13px;
			margin-top: 30px;
			font-weight: normal;
			font-family: 'PT Sans', sans-serif;
			font-weight: 400;
		}
	}
}
.pricing-tables {
	padding-top: 40px;

}

/* COMMON PRICING STYLES */
.panel.price,
.panel.price>.panel-heading{
	border-radius:0px;
	-moz-transition: all .3s ease;
	-o-transition:  all .3s ease;
	-webkit-transition:  all .3s ease;
}

.panel-default>.panel-heading {
	background-color: #fff;
}

.panel ul li:nth-child(2n+1) {
	background-color: #fbfbfb;
}

.price .list-group-item{
	border: 1px solid #efefef;
	border-collapse: collapse;
}

.panel.price .list-group-item:last-child {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.panel.price .list-group-item:first-child {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.price .panel-footer {
	color: #fff;
	border-bottom:0px;


}



.panel .panel-heading h3 {
	color: #6079bb;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
}

.lead {
	strong {
		font-size: 54px;
		font-weight: normal;
		display: block;
		color: #444;
		font-family: 'PT Sans', sans-serif;
		font-weight:400;
	}
	span {
		color: #999;
		font-size: 14px;
		font-family: 'PT Sans', sans-serif;
	}
}

.panel ul li {
	font-family: 'PT Sans', sans-serif;
	font-weight: 300;
	font-size: 13px;
	color: #888;
}



.btn-info {
	background-color: #6079bb;
	padding: 10px 15px !important;
	border-radius: 3px !important;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 12px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px -2px 0px 0px inset;
	letter-spacing: 1px;
}




.panel.price .btn{
	box-shadow: 0 -1px 0px rgba(50,50,50, .2) inset;
	border:0px;
}
