<div class="col-md-12 text-center">
	<p>You can contact us in 5 different ways: </p>
</div>

<div class="col-md-12 text-center">
	<h3>Live Chat</h3>
	<p>You can contact us by clicking on the live chat window on the bottom right side of the screen</p>
</div>



<div class="col-md-12 text-center">
	<h3>Email</h3>
	<p>Contact Us at hello@maplemaids.ca</p>
</div>



<div class="col-md-12 text-center">
	<h3>Twitter</h3>
	<p>Tweets us with your comments at @maplemaids, or just drop in and say hi:-)</p>
</div>



<div class="col-md-12 text-center">
	<h3>Phone</h3>
	<p>Call us at 1.800.6945450</p>
</div>



<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-xs-offset-1 text-center">
	<h3>Contact form</h3>
	<form class="form-horizontal" method="post" action="//formspree.io/ammar.kalim@gmail.com">

		<div class="form-group">
			<label for="contactName" class="col-sm-4 control-label">Name</label>
			<div class="col-md-5 col-sm-6">
				<input type="text" class="form-control" id="name" placeholder="Type your name here">
			</div>
		</div>
		<div class="form-group">
			<label for="contactEmail" class="col-sm-4 control-label">E-Mail</label>
			<div class="col-md-5 col-sm-6">
				<input type="email" class="form-control" id="email" placeholder="Type your Email here">
			</div>
		</div>
		<div class="form-group">
			<label for="contactPhone" class="col-sm-4 control-label">Phone Number</label>
			<div class="col-md-5 col-sm-6">
				<input type="number" class="form-control" id="phone" placeholder="Type you phone number here">
			</div>
		</div>

		<div class="form-group">
			<label for="contactComments" class="col-sm-4 control-label">Comments</label>
			<div class="col-md-5 col-sm-6">
				<textarea name="message" class="form-control" rows="8" placeholder="Your comments here..."></textarea>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12 center-block">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</div>



	</form>

</div>