<div class="featured">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12 text-center yelp"><img src="/images/yelp.png" alt=""></div>
			<div class="col-md-3 col-sm-6 col-xs-12 text-center"><img src="/images/thumbtack.png" alt=""></div>
			<div class="col-md-3 col-sm-6 col-xs-12 text-center"><img src="/images/angles.png" alt=""></div>
			<div class="col-md-3 col-sm-6 col-xs-12 text-center local"><img src="/images/local.png" alt=""></div>
		</div>
	</div>
</div>