<section>
	<div class="feature-four">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2>YOUR TRUST AND SECURITY ARE OUR PRIORITY</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequuntur corporis debitis
						dolorum est et facilis illum ipsa ipsum itaque, nam natus necessitatibus nihil quae quam quos
						reiciendis sit ut.</p>
				</div>
			</div>
			<div class="row icon">
				<div class="col-md-3">
					<img class="center-block" src="/images/icon2-1.png" alt="">
					<h5>Heading</h5>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aliquam aliquid aspernatur
						commodi cum dolores doloribus eaque, explicabo in, magnam magni nam nobis possimus praesentium
						rerum tempora tenetur veniam voluptatibus?</p>
				</div>
				<div class="col-md-3">
					<img class="center-block" src="/images/icon2-2.png" alt="">
					<h5>Heading</h5>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam dicta dolorem, error fugiat
						harum iusto mollitia nam nihil nulla pariatur, perspiciatis, quam repellat vel voluptas.
						Aspernatur iste laboriosam obcaecati.</p>
				</div>
				<div class="col-md-3">
					<img class="center-block" src="/images/icon2-3.png" alt="">
					<h5>Heading</h5>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut commodi doloremque et eum
						illo ipsam iure officiis quasi, quos veniam voluptas. Accusamus consequuntur deleniti doloribus
						ea error iusto, molestias!</p>
				</div>
				<div class="col-md-3">
					<img class="center-block" src="/images/icon2-4.png" alt="">
					<h5>Heading</h5>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea excepturi magni quas quasi
						voluptatibus? Accusantium aliquam beatae commodi consectetur deserunt, dolor facilis libero nam
						obcaecati perferendis, porro possimus quos vitae.</p>
				</div>
			</div>
		</div>
	</div>
</section>