<section>
	<div class="feature-four">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2>Why choose Maple Maids?</h2>

					<p></p>
				</div>
			</div>
			<div class="row icon">
				<div class="col-md-3">
					<img class="center-block" src="/images/icon2-1.png" alt="">
					<h5>200% Satisfaction Gaurantee</h5>

					<p>
						We offer 200% Satisfaction Gaurantee to our customers. So if you are not satisfied with our
						service we will glady come and clean your house again!
					</p>
				</div>
				<div class="col-md-3">
					<img class="center-block" src="/images/icon2-2.png" alt="">
					<h5>Flat Rate Pricing</h5>

					<p>
						We have simple flat rate pricing in addition to hourly pricing. Which means that there
						are no hidden prices or hidden upsells. You will incharge of how much you will pay.
					</p>
				</div>
				<div class="col-md-3">
					<img class="center-block" src="/images/icon2-3.png" alt="">
					<h5>Pay Securely Online</h5>

					<p>
						Our booking system is protected by 128 bit SSL encryption which is the same securty method
						method used by Banks and Fortune 500 companies. So you can book online with peace of mind!
					</p>
				</div>
				<div class="col-md-3">
					<img class="center-block" src="/images/icon2-4.png" alt="">
					<h5>No Contracts</h5>

					<p>
						Unlike other companies we dont have any monthly or yearly contracts. This gives you true sense
						freedom, and gives us an opportunity to keep up our quality of our service.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
