<section>
	<div class="customer">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2>If a high tech compant offered cleaning services</h2>
					<p>We're changing the image of cleaning companies by offering a convenient, Organic, and Fair Labor Service that gives remarkable cleaning delivered with a fully seamless online experience.</p>
				</div>
				<div class="col-md-12" >
					<button class="btn btn-tech" type="submit">Check out what is this full all about</button>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>