
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<h2>Experience an incredible clean home!</h2>
				<h3>Right here in <span>London,ON!</span></h3>
				<p>
					Yes Sir! Book Online in less than 60 seconds, and let our trusted cleaners take it from there, while you enjoy your precious time with
					your family
				</p>


				<p><a href="/book/" class="btn btn-default" role="button">Book Now in 60 Seconds</a></p>

			</div>
		</div>
	</div>
</div>
