<section>
	<div class="features-two">
		<div class="container">
			<div class="col-lg-6 col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6 text">
				<h2>Our Cleaners</h2>
				<p>
					We find the best people in the city so you dont have to worry about anything.
				</p>
				<ul class="list-unstyled">
					<li><i class="fa fa-check-square-o"></i>Background Checked</li>
					<li><i class="fa fa-check-square-o"></i>Reference Checked</li>
					<li><i class="fa fa-check-square-o"></i>Tested for Quality Assurance</li>
					<li><i class="fa fa-check-square-o"></i>Licensed and Bonded</li>
					<li><i class="fa fa-check-square-o"></i>Reliable and Trustworthy</li>
				</ul>
			</div>
		</div>
	</div>
</section>