<section>
	<div class="features-two">
		<div class="container">
			<div class="col-lg-6 col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6 text">
				<h2>Lady feature heading</h2>
				<p>Lady feature sub heading</p>
				<ul class="list-unstyled">
					<li><i class="fa fa-check-square-o"></i>Feature 1</li>
					<li><i class="fa fa-check-square-o"></i>Feature 2</li>
					<li><i class="fa fa-check-square-o"></i>Feature 3</li>
					<li><i class="fa fa-check-square-o"></i>Feature 4</li>
					<li><i class="fa fa-check-square-o"></i>Feature 4</li>
				</ul>
			</div>
		</div>
	</div>
</section>