<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
			        aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ site.baseurl }}/">
				<img class="img-responsive" alt="Brand"  src="/images/logo.svg" class="center-block">
			</a>
		</div>


		<div id="navbar" class="collapse navbar-collapse">

			<ul class="nav navbar-nav">
				<li><a href="/about/">About Us</a></li>
				<li><a href="/pricing-and-services/">Pricing & Services</a></li>
				<li><a href="">FAQ</a></li>
				<li class="book"><a href="">Book Now</a></li>
			</ul>

			<a href="tel:1.800.694 5450"
			   class="navbar-text navbar-right hidden-sm hidden-xs"><i class="fa fa-phone-square fa-lg"></i>1.800.694.5450
			</a>


		</div>
		<!-- /.nav-collapse -->


	</div>
	<!-- /.container -->
</nav><!-- /.navbar -->

<section class="hidden-lg hidden-md">
	<div class="container phone-section">
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<a href="tel:" class="navbar-text"><i
						class="fa fa-phone-square fa-lg"></i>1.800.694.5450</a>
			</div>
		</div>
	</div>
</section>
