<!-- Start of PRICING TABLES markup -->

	<div class="col-sm-12 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
		<div class="pricing-tables">


			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pricing-column">

					<!--
						PRICE ITEM 1
					-->

					<div class="panel panel-default price">

						<div class="panel-heading  text-center">
							<h3>One Bedroom / Studio</h3>
						</div>

						<div class="panel-body text-center">
							<p class="lead">
								<strong>$119</strong>
								<span>Flat Rate</span>
							</p>
						</div>

						<ul class="list-group text-center">
							<li class="list-group-item">Unlimited Stuff</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i>More Unlimited Stuff</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited 24/7</li>
						</ul>

						<div class="panel-body text-center">
							<a class="btn btn-info" href="#">Book Now</a>
						</div>
					</div>

				</div>
				<!-- /PRICE ITEM 1 -->

				<!--
					PRICE ITEM 2
				-->
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pricing-column">
					<div class="panel panel-default price">
						<div class="panel-heading  text-center">
							<h3>2 Bedroom</h3>
						</div>
						<div class="panel-body text-center">
							<p class="lead">
								<strong>$129</strong>
								<span>Flat Rate</span>
							</p>
						</div>
						<ul class="list-group text-center">
							<li class="list-group-item">Unlimited Stuff</li>
							<li class="list-group-item">More Unlimited Stuff</li>
							<li class="list-group-item">Unlimited 24/7</li>
						</ul>
						<div class="panel-body text-center">
							<a class="btn btn-info" href="#">Book Now</a>
						</div>
					</div>
				</div><!-- end col div -->
				<!-- /PRICE ITEM -->

				<!--
					PRICE ITEM 3
				-->
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pricing-column">


					<div class="panel panel-default price">
						<div class="panel-heading  text-center">
							<h3>3 Bedroom</h3>
						</div>
						<div class="panel-body text-center">
							<p class="lead">
								<strong>$129</strong>
								<span>Flate Rate</span>
							</p>
						</div>
						<ul class="list-group text-center">
							<li class="list-group-item">Unlimited Stuff</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i>More Unlimited Stuff</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited 24/7</li>
						</ul>
						<div class="panel-body text-center">
							<a class="btn btn-info" href="#">Book Now</a>
						</div>
					</div>
				</div>
				<!-- /PRICE ITEM -->

				<!--
					PRICE ITEM 4
				-->
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pricing-column">
					<div class="panel panel-default price">
						<div class="panel-heading  text-center">
							<h3>4 Bedroom</h3>
						</div>
						<div class="panel-body text-center">
							<p class="lead">
								<strong>$129</strong>
								<span>Flat Rate</span>
							</p>
						</div>
						<ul class="list-group text-center">
							<li class="list-group-item">Unlimited Stuff</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i>More Unlimited Stuff</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited 24/7</li>
						</ul>
						<div class="panel-body text-center">
							<a class="btn btn-info" href="<?php echo get_permalink( $my_book ); ?>">Book Now</a>
						</div>
					</div>
				</div>
				<!-- /PRICE ITEM -->
			</div><!-- end row div -->


			<div class="row">

				<!--
					PRICE ITEM 5
				-->
				<div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-3 col-lg-3 pricing-column">
					<div class="panel panel-default price">

						<div class="panel-heading  text-center">
							<h3>5 Bedroom</h3>
						</div>

						<div class="panel-body text-center">
							<p class="lead">
								<strong>$129</strong>
								<span>Flat Rate</span>
							</p>
						</div>

						<ul class="list-group text-center">
							<li class="list-group-item">Unlimited Stuff</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i>More Unlimited Stuff</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited 24/7</li>
						</ul>

						<div class="panel-body text-center">
							<a class="btn btn-info" href="<?php echo get_permalink( $my_book ); ?>">Book Now</a>
						</div>
					</div>
				</div>
				<!-- /PRICE ITEM -->

				<!--
					PRICE ITEM 6
				-->
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pricing-column">
					<div class="panel panel-default price">
						<div class="panel-heading  text-center">
							<h3>6 Bedroom</h3>
						</div>
						<div class="panel-body text-center">
							<p class="lead">
								<strong>$129</strong>
								<span>Flat Rate</span>
							</p>
						</div>
						<ul class="list-group text-center">
							<li class="list-group-item">Unlimited Stuff</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i>More Unlimited Stuff</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited 24/7</li>
						</ul>
						<div class="panel-body text-center">
							<a class="btn btn-info" href="<?php echo get_permalink( $my_book ); ?>">Book Now</a>
						</div>
					</div>
				</div>
				<!-- /PRICE ITEM -->

				<!--
					PRICE ITEM 7
				-->
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pricing-column">
					<div class="panel panel-default price">
						<div class="panel-heading  text-center">
							<h3>Studio</h3>
						</div>
						<div class="panel-body text-center">
							<p class="lead">
								<strong>$129</strong>
								<span>Flat Rate</span>
							</p>
						</div>
						<ul class="list-group text-center">
							<li class="list-group-item">Unlimited Stuff</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i>More Unlimited Stuff</li>
							<li class="list-group-item"><i class="icon-ok text-danger"></i>Unlimited 24/7</li>
						</ul>
						<div class="panel-body text-center">
							<a class="btn btn-info" href="/book/">Book Now</a>
						</div>
					</div>
				</div>
				<!-- /PRICE ITEM -->



			</div><!-- end row div -->

		</div><!-- end pricing table div -->
	</div><!-- end col div -->
