<!-- service details -->
<section class="services-detail">

	<div class="row">
		<div class="col-md-12  text-center">
			<h2>Here is what you get</h2>

			<div class="divider-border"></div>
		</div>
	</div>

	<!--Kitchen-->
	<div class="row slider">
		<div class="col-md-10 col-md-offset-1 noselect">

			<div class="one">

				<div class="slidedown_head" data-toggle="collapse" href="#tab-detail" aria-expanded="false" aria-controls="tab-detail">
					<h5><i class="fa fa-angle-double-right"></i></i>Kitchen Spaces <span>Click here to see detail</span> </h5>
				</div>


				<div class="collapse" id="tab-detail">

							<ul class="nav nav-tabs row" role="tablist">
								<li class="col-md-3 col-md-offset-1 col-sm-4 col-xs-4 text-center active" role="presentation"><a href="#kitchenFirstTime" aria-controls="first time cleaning" role="tab" data-toggle="tab">First Time Cleaning</a></li>
								<li class="col-md-4 col-sm-4 col-xs-4 text-center" role="presentation"><a href="#kitchenSubscription" aria-controls="Subscription Plan" role="tab" data-toggle="tab">Subscription Plan</a></li>
								<li class="col-md-3 col-sm-4 col-xs-4 text-center" role="presentation"><a href="#kitchenMove" aria-controls="Move in Move out" role="tab" data-toggle="tab">Move In/Move Out</a></li>
							</ul>

					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="kitchenFirstTime">
									<table class="table">
										<tbody>
										<tr>
											<th scope="row">Cobweb Removal</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Ceiling Fans</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Blinds and Window Ledges</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Kitchen Cabinets(Outside)</th>
											<td>+$20</i></td>
										</tr>
										<tr>
											<th scope="row">Clean Stove Top & Stove Fan</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Clean Microwave</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Clean Countertop</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Clean Large Electronic Appliances</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Scrub & Clean Sinks</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Polish all Stainless Steel Surfaces</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Dust/Wipe Doors</th>
											<td>Optional</td>
										</tr>
										<tr>
											<th scope="row">Empty Trash Can</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Dust & Wipe Laundry Area</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Vaccum Kitchen & Laundry Floors & Rugs</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Baseboard & Corners Detail Cleaning</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Mop Kitchen & Laundry Floors</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Clean Entrance Glass Doors</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Vaccum & Clean Inside Cabinets & Drawers</th>
											<td>+$20</td>
										</tr>
										<tr>
											<th scope="row">Fridge Cleaning</th>
											<td>+$20</td>
										</tr>
										<tr>
											<th scope="row">Oven Cleaning</th>
											<td>+$20</td>
										</tr>
										<tr>
											<th scope="row">Clean Window Inside</th>
											<td>+$20</td>
										</tr>


										</tbody>
									</table>
								</div>
								<div role="tabpanel" class="tab-pane" id="kitchenSubscription">
									<table class="table">
										<tbody>
										<tr>
											<th scope="row">Cobweb Removal</th>
											<td>Keep Up</td>
										</tr>
										<tr>
											<th scope="row">Ceiling Fans</th>
											<td>Keep Up</td>
										</tr>
										<tr>
											<th scope="row">Blinds and Window Ledges</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Kitchen Cabinets(Outside)</th>
											<td>Keep Up</i></td>
										</tr>
										<tr>
											<th scope="row">Clean Stove Top & Stove Fan</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Clean Microwave</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Clean Countertop</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Clean Large Electronic Appliances</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Scrub & Clean Sinks</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Polish all Stainless Steel Surfaces</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Dust/Wipe Doors</th>
											<td>Keep Up</td>
										</tr>
										<tr>
											<th scope="row">Empty Trash Can</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Dust & Wipe Laundry Area</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Vaccum Kitchen & Laundry Floors & Rugs</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Baseboard & Corners Detail Cleaning</th>
											<td>Keep Up</td>
										</tr>
										<tr>
											<th scope="row">Mop Kitchen & Laundry Floors</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Clean Entrance Glass Doors</th>
											<td>Keep Up</td>
										</tr>
										<tr>
											<th scope="row">Vaccum & Clean Inside Cabinets & Drawers</th>
											<td><i class="fa fa-times"></i></td>
										</tr>
										<tr>
											<th scope="row">Fridge Cleaning</th>
											<td><i class="fa fa-times"></i></td>
										</tr>
										<tr>
											<th scope="row">Oven Cleaning</th>
											<td><i class="fa fa-times"></i></td>
										</tr>
										<tr>
											<th scope="row">Clean Window Inside</th>
											<td><i class="fa fa-times"></i></td>
										</tr>


										</tbody>
									</table>
								</div>
								<div role="tabpanel" class="tab-pane" id="kitchenMove">
									<table class="table">
										<tbody>
										<tr>
											<th scope="row">Cobweb Removal</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Ceiling Fans</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Blinds and Window Ledges</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Kitchen Cabinets(Outside)</th>
											<td>+$20</i></td>
										</tr>
										<tr>
											<th scope="row">Clean Stove Top & Stove Fan</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Clean Microwave</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Clean Countertop</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Clean Large Electronic Appliances</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Scrub & Clean Sinks</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Polish all Stainless Steel Surfaces</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Dust/Wipe Doors</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Empty Trash Can</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Dust & Wipe Laundry Area</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Vaccum Kitchen & Laundry Floors & Rugs</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Baseboard & Corners Detail Cleaning</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Mop Kitchen & Laundry Floors</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Clean Entrance Glass Doors</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Vaccum & Clean Inside Cabinets & Drawers</th>
											<td>+$20</td>
										</tr>
										<tr>
											<th scope="row">Fridge Cleaning</th>
											<td>+$20</td>
										</tr>
										<tr>
											<th scope="row">Oven Cleaning</th>
											<td>+$20</td>
										</tr>
										<tr>
											<th scope="row">Clean Window Inside</th>
											<td>+$20</td>
										</tr>


										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>




				</div>

			</div><!-- end one div -->

		</div><!-- end col div -->
	</div><!-- end row div -->

	<!--Bath and Tub Spaces-->
	<div class="row slider">
		<div class="col-md-10 col-md-offset-1 noselect">

			<div class="two">

				<div class="slidedown_head" data-toggle="collapse" href="#tab-detail-2" aria-expanded="false" aria-controls="tab-detail">
					<h5><i class="fa fa-angle-double-right"></i>Bath & Tub Spaces<span>Click here to see detail</span> </h5>
				</div>


				<div class="collapse" id="tab-detail-2">

					<ul class="nav nav-tabs row" role="tablist">
						<li class="col-md-3 col-md-offset-1 col-sm-4 col-xs-4 text-center active" role="presentation"><a href="#bathFirstTime" aria-controls="first time cleaning" role="tab" data-toggle="tab">First Time Cleaning</a></li>
						<li class="col-md-4 col-sm-4 col-xs-4 text-center" role="presentation"><a href="#bathSubscription" aria-controls="Subscription Plan" role="tab" data-toggle="tab">Subscription Plan</a></li>
						<li class="col-md-3 col-sm-4 col-xs-4 text-center" role="presentation"><a href="#bathMove" aria-controls="Move in Move out" role="tab" data-toggle="tab">Move In/Move Out</a></li>
					</ul>

					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="bathFirstTime">
									<table class="table">
										<tbody>
										<tr>
											<th scope="row">Cobweb Removal</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Ceiling Fans Detail Cleaning</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Dust Blinds, Window Ledges & Furniture in Bathrooms</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Wipe Bathroom Cabinets(Outside)</th>
											<td>+$20</i></td>
										</tr>
										<tr>
											<th scope="row">Scrub & Clean Sinks</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Clean Countertops(special product for marble & stone)</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Clean Mirrors & Shine Chrome</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Scrub & Clean Toilets</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Scrub & Clean Tubs</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">SScrub & Clean Showers</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Empty Trash Can(s)</th>
											<td>Optional</td>
										</tr>
										<tr>
											<th scope="row">Vaccum Bathroom Floors & Rugs</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Baseboard Detail Cleaning</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Mop Bathroom Floors</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Dust/Wipe Doors</th>
											<td>Optional</td>
										</tr>
										<tr>
											<th scope="row">Vaccum & Clean Inside Cabinets & Drawers</th>
											<td>+$20</td>
										</tr>
										<tr>
											<th scope="row">Clean Window Inside</th>
											<td>+$20</td>
										</tr>

										</tbody>
									</table>
								</div>
								<div role="tabpanel" class="tab-pane" id="bathSubscription">
									<table class="table">
										<tbody>
										<tr>
											<th scope="row">Cobweb Removal</th>
											<td>Keep up</td>
										</tr>
										<tr>
											<th scope="row">Ceiling Fans Detail Cleaning</th>
											<td>Keep up</td>
										</tr>
										<tr>
											<th scope="row">Dust Blinds, Window Ledges & Furniture in Bathrooms</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Wipe Bathroom Cabinets(Outside)</th>
											<td>Keep up</td>
										</tr>
										<tr>
											<th scope="row">Scrub & Clean Sinks</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Clean Countertops(special product for marble & stone)</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Clean Mirrors & Shine Chrome</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Scrub & Clean Toilets</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Scrub & Clean Tubs</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">SScrub & Clean Showers</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Empty Trash Can(s)</th>
											<td>Optional</td>
										</tr>
										<tr>
											<th scope="row">Vaccum Bathroom Floors & Rugs</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Baseboard Detail Cleaning</th>
											<td>Keep up</td>
										</tr>
										<tr>
											<th scope="row">Mop Bathroom Floors</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Dust/Wipe Doors</th>
											<td>Keep up</td>
										</tr>
										<tr>
											<th scope="row">Vaccum & Clean Inside Cabinets & Drawers</th>
											<td><i class="fa fa-times"></i></td>
										</tr>
										<tr>
											<th scope="row">Clean Window Inside</th>
											<td><i class="fa fa-remove"></i></td>
										</tr>


										</tbody>
									</table>
								</div>
								<div role="tabpanel" class="tab-pane" id="bathMove">
									<table class="table">
										<tbody>
										<tr>
											<th scope="row">Cobweb Removal</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Ceiling Fans Detail Cleaning</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Dust Blinds, Window Ledges & Furniture in Bathrooms</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Wipe Bathroom Cabinets(Outside)</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Scrub & Clean Sinks</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Clean Countertops(special product for marble & stone)</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Clean Mirrors & Shine Chrome</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Scrub & Clean Toilets</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Scrub & Clean Tubs</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">SScrub & Clean Showers</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Empty Trash Can(s)</th>
											<td>Optional</td>
										</tr>
										<tr>
											<th scope="row">Vaccum Bathroom Floors & Rugs</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Baseboard Detail Cleaning</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Mop Bathroom Floors</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Dust/Wipe Doors</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Vaccum & Clean Inside Cabinets & Drawers</th>
											<td>+$20</td>
										</tr>
										<tr>
											<th scope="row">Clean Window Inside</th>
											<td>+$20</td>
										</tr>

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>




				</div>

			</div><!-- end one div -->

		</div><!-- end col div -->
	</div><!-- end row div -->

	<!--Bedroom and Living Spaces-->
	<div class="row slider">
		<div class="col-md-10 col-md-offset-1 noselect">

			<div class="two">

				<div class="slidedown_head" data-toggle="collapse" href="#tab-detail-3" aria-expanded="false" aria-controls="tab-detail">
					<h5><i class="fa fa-angle-double-right"></i>Bedroom and Living Spaces<span>Click here to see detail</span> </h5>
				</div>


				<div class="collapse" id="tab-detail-3">

					<ul class="nav nav-tabs row" role="tablist">
						<li class="col-md-3 col-md-offset-1 col-sm-4 col-xs-4 text-center active" role="presentation"><a href="#bedroomFirstTime" aria-controls="first time cleaning" role="tab" data-toggle="tab">First Time Cleaning</a></li>
						<li class="col-md-4 col-sm-4 col-xs-4 text-center" role="presentation"><a href="#bedroomSubscription" aria-controls="Subscription Plan" role="tab" data-toggle="tab">Subscription Plan</a></li>
						<li class="col-md-3 col-sm-4 col-xs-4 text-center" role="presentation"><a href="#bedroomMove" aria-controls="Move in Move out" role="tab" data-toggle="tab">Move In/Move Out</a></li>
					</ul>

					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="bedroomFirstTime">
									<table class="table">
										<tbody>
										<tr>
											<th scope="row">Cobweb Removal</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Ceiling Fans Detail Cleaning</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Dust Blinds, Window Ledges/Base</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Make Beds & change bed linens (when left of top of bed)</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Dust Furniture & Decorations, Clean Glass Table Tops</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Empty trash in all bedrooms, living, and office spaces</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Vaccum all carpet, small rugs and stairs</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Baseboard Detail Cleaning</th>
											<td>Keep up</td>
										</tr>
										<tr>
											<th scope="row">Vaccum Closet Shelves & Drawers</th>
											<td>Optional</td>
										</tr>
										<tr>
											<th scope="row">Dust/Wipe Doors</th>
											<td>Optional</td>
										</tr>
										<tr>
											<th scope="row">Clean Windows Inside</th>
											<td>+$60</td>
										</tr>
										<tr>
											<th scope="row">Vaccum Bathroom Floors & Rugs</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Mop Bathroom Floors</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Vaccum & Clean Inside Cabinets & Drawers</th>
											<td>+$20</td>
										</tr>


										</tbody>
									</table>
								</div>
								<div role="tabpanel" class="tab-pane" id="bedroomSubscription">
									<table class="table">
										<tbody>
										<tr>
											<th scope="row">Cobweb Removal</th>
											<td>Keep up</td>
										</tr>
										<tr>
											<th scope="row">Ceiling Fans Detail Cleaning</th>
											<td>Keep up</td>
										</tr>
										<tr>
											<th scope="row">Dust Blinds, Window Ledges/Base</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Make Beds & change bed linens (when left of top of bed)</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Dust Furniture & Decorations, Clean Glass Table Tops</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Empty trash in all bedrooms, living, and office spaces</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Vaccum all carpet, small rugs and stairs</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Baseboard Detail Cleaning</th>
											<td>Keep up</td>
										</tr>
										<tr>
											<th scope="row">Vaccum Closet Shelves & Drawers</th>
											<td><i class="fa fa-times"></i></td>
										</tr>
										<tr>
											<th scope="row">Dust/Wipe Doors</th>
											<td>Keep up</td>
										</tr>
										<tr>
											<th scope="row">Clean Windows Inside</th>
											<td><i class="fa fa-times"></i></td>
										</tr>
										<tr>
											<th scope="row">Vaccum Bathroom Floors & Rugs</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Mop Bathroom Floors</th>
											<td><i class="fa fa-check"></i></td>
										</tr>

										<tr>
											<th scope="row">Vaccum & Clean Inside Cabinets & Drawers</th>
											<td><i class="fa fa-times"></i></td>
										</tr>


										</tbody>
									</table>
								</div>
								<div role="tabpanel" class="tab-pane" id="bedroomMove">
									<table class="table">
										<tbody>
										<tr>
											<th scope="row">Cobweb Removal</th>
											<td>Keep up</td>
										</tr>
										<tr>
											<th scope="row">Ceiling Fans Detail Cleaning</th>
											<td>Keep up</td>
										</tr>
										<tr>
											<th scope="row">Dust Blinds, Window Ledges/Base</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Make Beds & change bed linens (when left of top of bed)</th>
											<td><i class="fa fa-times"></i></td>
										</tr>
										<tr>
											<th scope="row">Dust Furniture & Decorations, Clean Glass Table Tops</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Empty trash in all bedrooms, living, and office spaces</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Vaccum all carpet, small rugs and stairs</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Baseboard Detail Cleaning</th>
											<td>Keep up</td>
										</tr>
										<tr>
											<th scope="row">Vaccum Closet Shelves & Drawers</th>
											<td><i class="fa fa-times"></i></td>
										</tr>
										<tr>
											<th scope="row">Dust/Wipe Doors</th>
											<td>Keep up</td>
										</tr>
										<tr>
											<th scope="row">Clean Windows Inside</th>
											<td>+$60</td>
										</tr>
										<tr>
											<th scope="row">Vaccum Bathroom Floors & Rugs</th>
											<td><i class="fa fa-check"></i></td>
										</tr>
										<tr>
											<th scope="row">Mop Bathroom Floors</th>
											<td><i class="fa fa-check"></i></td>
										</tr>

										<tr>
											<th scope="row">Vaccum & Clean Inside Cabinets & Drawers</th>
											<td>+$20</td>
										</tr>



										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>




				</div>

			</div><!-- end one div -->

		</div><!-- end col div -->
	</div><!-- end row div -->


	<!-- services not offered -->
	<div class="row">
		<div class="col-md-10 col-md-offset-1 serv-not-offered">

			<div class="row">
				<div class="col-md-12 text-center">
					<h2>Services not offered</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 text-center">
					<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 text-center">
					<a class="btn btn-lg btn-bottom" href="/book/"
					   role="button">Book Now</a>
				</div>
			</div>

		</div><!-- end col div -->
	</div><!-- end row div -->
</section>