<!-- service details -->
<section class="services-detail">

	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-center">
			<h2>Here is what you get</h2>

			<div class="divider-border"></div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-10 col-md-offset-1 noselect">

			<div class="one">
				<div class="slidedown_head">
					<h5><i class="fa fa-plus-circle"></i>Kitchen Spaces</h5>
				</div>
				<div class="slidedown_body" style="display:none">
					<ul class="list-unstyled">
						<li>hello</li>
					</ul>
				</div>
			</div>

			<div class="two">
				<div class="slidedown_head">
					<h5><i class="fa fa-plus-circle"></i>Living Spaces</h5>
				</div>
				<div class="slidedown_body" style="display:none">
					<ul class="list-unstyled">

					</ul>
				</div>
			</div>

			<div class="three">
				<div class="slidedown_head">
					<h5>
						<i class="fa fa-plus-circle"></i>Bedroom Spaces
					</h5>
				</div>
				<div class="slidedown_body" style="display:none">
					<ul class="list-unstyled">

					</ul>
				</div>
			</div>
		</div><!-- end col div -->
	</div><!-- end row div -->


	<!-- services not offered -->
	<div class="row">
		<div class="col-md-10 col-md-offset-1 serv-not-offered">

			<div class="row">
				<div class="col-md-12 text-center">
					<h2>Services not offered</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 text-center">
					<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 text-center">
					<a class="btn btn-lg btn-bottom" href="<?php echo get_permalink( $my_book ); ?>"
					   role="button">Book Now</a>
				</div>
			</div>

		</div><!-- end col div -->
	</div><!-- end row div -->
</section>