<section>
	<div class="container">
		<div class="steps">
			<div class="row">

				<div class="col-md-10 col-md-offset-1">
					<h2>This is three steps heading</h2>
				</div>

				<div class="col-md-8 col-md-offset-2">
					<p>This is the sub heading</p>
				</div>

				<div class="col-md-10 col-md-offset-1 col-sm-12">
					<div class="row inner">
						<div class="col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1">

							<img class="center-block" src="/images/1.png" alt="">

							<h4>Hello 1</h4>
							<p>Hello 2</p>
						</div>
						<div class="col-md-1 col-sm-1 arrow">
							<img src="/images/arrow.png" alt="">
						</div>
						<div class="col-md-3 col-sm-3">
							<img class="center-block" src="/images/2.png" alt="">
							<h4>Hello 2</h4>
							<p>Hello 2</p>
						</div>
						<div class="col-md-1 col-sm-1 arrow">
							<img src="/images/arrow.png" alt="">
						</div>
						<div class="col-md-3 col-sm-3">
							<img class="center-block" src="/images/3.png" alt="">
							<h4>Hello 3</h4>
							<p>Hello 3</p>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</section>