<section>
	<div class="feature-three">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2>Heading One</h2>
					<p>Sub heading</p>
				</div>
			</div>
			<div class="row list">
				<div class="col-md-10 col-md-offset-1 col-sm-6 col-xs-12 ">
					<ul class="list-unstyled"g
						<li><img src="/images/icon-1.png" alt="">Feature 1</li>
						<li><img src="/images/icon-2.png" alt="">Feature 2</li>
						<li><img src="/images/icon-3.png" alt="">Feature 3</li>
						<li><img src="/images/icon-4.png" alt="">Feature 4</li>
						<li><img src="/images/icon-5.png" alt="">Feature 5</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>