<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include nav.html %}

	<section class="pricing-wrap">
		<div class="container">
			<div class="row heading">
				<div class="col-md-10 col-md-offset-1 text-center">
					<h1>Pricing & Services</h1>
					<p>Sub heading

				</div>
			</div>

			<div class="row">
				{% include pricing-tables.html %}
			</div>

			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<strong>This is custom pricing message</strong>
				</div>
			</div>

			<div class="row">
				{% include pricing-detail.html %}
			</div>

			<div class="row">
				{% include pricing-services.html %}
			</div>




		</div>
	</section>



	{% include highTechMessage.html %}

	{% include footer.html %}



  </body>

</html>
